@model ValetAPI.Models.AreaEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Model.Venue.Name - @Model.Name AreaEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @* <dt class = "col-sm-2"> *@
        @*     @Html.DisplayNameFor(model => model.VenueEntity) *@
        @* </dt> *@
        @* <dd class = "col-sm-10"> *@
        @*     @Html.DisplayFor(model => model.VenueEntity.Name) *@
        @* </dd> *@
    </dl>
</div>
<hr/>
    <h4>TableEntitys - <a asp-action="Edit" asp-route-id="@Model.Id">Add tableEntity</a></h4>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tables[0].Type)
        </th>
        <th>
                @Html.DisplayNameFor(model => model.Tables[0].Capacity)
        </th>
        @* <th> *@
        @*         @Html.DisplayNameFor(model => model.TableEntitys[0].AreaEntity) *@
        @* </th> *@
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Tables) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.AreaEntity.Name) *@
            @* </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
